<!DOCTYPE html>

<html>

<head>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.12.2.min.js'></script>
    <script type='text/javascript' src='https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js'></script>
    <title>Draft</title>
</head>

<body id='entry'>
    <div id='bloodhound'>
        <input class="typeahead" type="text">
    </div>
</body>
<script type='text/javascript'>
    var main = function() {
        var items = ['one', 'two', 'three'];
        var eng = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: items
        });
        $('#bloodhound .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'numbers',
            source: eng
        });
    };
    window.addEventListener('load', main);
</script>
</html>
