body {
    margin: 0;
    overflow: hidden;
    background-color: #2A2A2A;
    color: #E0E0E0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full {
    width: 100%;
    height: 100%;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1s;
}

.title-widget {
    width: 100%;
    text-align: center;
    font-size: 3em;
}
